<h1 class="Admin-title">ADMIN</h1>
<div class="Dash" >
  <form  method="GET">
    <button class="Dash-button" type="submit">DASHBOARD </button>
  </form>
  <form method="GET">
    <button class="Dash-button" type="submit">My account </button>
  </form>
  <%= link_to(new_menu_path,class: 'Dash-button') do %> Manage Menu
    <%= content_tag('i', nil, class: 'fa fa-cutlery') %>
  <% end %>
  <%= link_to(new_menu_path,class: 'Dash-button') do %>
    <%= content_tag('i', nil, class: 'fa fa-users') %> Manage Staff
  <% end %>
  <%= link_to(all_orders_path,class: 'Dash-button') do %>
    <%= content_tag('i', nil, class: 'fa fa-paper-plane') %> Manage Orders
  <% end %>
</div>
