  <div class="Dash">
    <%= link_to(dashboard_path,class: 'Dash-button') do %>
    <%= content_tag('i', nil, class: 'fa fa-dashcube') %> DashBoard
    <% end %>

   <%= link_to(new_menu_path,class: 'Dash-button') do %>

    <%= content_tag('i', nil, class: 'fa fa-cutlery') %> Manage Menu
    <% end %>
    <%= link_to(new_user_path,class: 'Dash-button') do %>
    <%= content_tag('i', nil, class: 'fa fa-users') %> Manage Staff
    <% end %>
        <%= link_to(all_orders_path,class: 'Dash-button') do %>
    <%= content_tag('i', nil, class: 'fa fa-paper-plane') %> Manage Orders
    <% end %>
      <%= link_to(sales_report_path(from: "dash"),class: 'Dash-button') do %>
    <%= content_tag('i', nil, class: 'fa fa-line-chart') %> Sales Report
    <% end %>
  </div>
