<section class="MenuSection">
  <div class="MenuSection-header">
    <h1 id="<%= section_title %>" class="MenuSection-title"> <%= section_title %> </h1>
    <% if @current_user.role.eql?("owner")%>
      <%= link_to(edit_menu_path(id)) do %>
        <%= content_tag('i', nil, class: 'fa fa-pencil-square-o') %>
      <% end %>
    <% end %>
  </div>
  <ul class="MenuItem">
    <% menu_items.each do |menu_item| %>
      <li class="MenuItem-list">

        <label class="MenuItem-container">

      <%= image_tag "#{menu_item.url}",class: "MenuItem-image" %>

      <section class="MenuItem-content">
       <p class="MenuItem-name" id="<%= menu_item.menu_item %>"> <%= menu_item.menu_item %> <span class="MenuItem-price"> ₹<%=menu_item.price %></span></p>
      <section class="MenuItem-manipulate">
       <p class="MenuItem-description"><%= menu_item.description%></p>

          <% qty=nil%>
          <% qty=@cart_item.quantity(menu_item.id)%>
          <% id=@cart_item.cart_id(menu_item.id)%>
          <%  if qty %>
            <%= button_to "-",cart_item_path(id: id ),
                              method: "put",
                              class: "CounterButton-minus",
                              data: {disable_with: "-"} %>
              <%=text_field_tag nil, qty, disabled: true,class: "MenuItem-quantity"%>
              <%= button_to "+",cart_item_path(id: id,state: true),
                                              method: "put",
                                              class: "CounterButton-plus",
                                              data: {disable_with: "+"} %>
          <% else%>
            <%= button_to "Add",cart_items_path(menu_item_id: menu_item.id ,
                                              menu_item: menu_item.menu_item,
                                              price: menu_item.price),
                                              method: "post",
                                              class: "AddButton",
                                              data: {disable_with: "Adding to cart"}  %>

            <% if @current_user.role.eql?("owner")%>
              <%= link_to(edit_menu_item_path(id: menu_item.id),class: 'AddButton EditButton') do %>
                <%= content_tag('i', nil, class: 'fa fa-pencil') %>
              <% end %>
              <%= link_to(menu_item_path(id: menu_item.id),class: 'AddButton DeleteButton',method: :delete) do %>
                <%= content_tag('i', nil, class: 'fa fa-trash') %>
              <% end %>
              <% end%>
          <% end %>
           </section>
           </section>
        </label>
      </li>
    <% end %>
  </ul>
</section>
