<h1 class="Admin-title">ADMIN</h1>
<div class="Dash-items">
  <%= render partial: "dash-section"%>
  <div class="DashBoard">
    <div class="DashBoard-container">
          <section class="DashBoard-section">
            <h4 class="DashBoard-section-title">Active Users</h4>
            <p> <%= User.all.count%> Members</p>
          </section>
         <section class="DashBoard-section">
            <h4 class="DashBoard-section-title">Order Recived Today</h4>
            <p > <%= Order.where("order_date = ?",Date.today).count%></p>
          </section>
    </div>
    <div class="DashBoard-container">
          <section class="DashBoard-section">
            <h4 class="DashBoard-section-title">Pending Orders</h4>
            <p>  <%= Order.not_delivered.count%> </p>
          </section>
         <section class="DashBoard-section">
             <h4 class="DashBoard-section-title">Active Users</h4>
            <p>  <%= User.all.count%> Members</p>
          </section>

    </div>

           <section class="DashBoard-section">
            <h4 class="DashBoard-section-title">Payment Received Today</h4>
            <p>Rs. <%= Order.today_payment%></p>
          </section>
</div>
</div>
