<h1 class="MenuPageTitle">Edit Menu</h1>
<section class="Account">
  <ul>
    <%= form_with(url: "/menu/#{@menu.id}", method: "put") do %>
      <li class="Details-item">
        <label class="Details-label">Menu Id :</label>
        <input  value="<%=@menu.id%>" disabled>
      </li>
      <li class="Details-item">
        <label class="Details-label">Menu Name :</label>
        <%=text_field_tag 'menu_name', "#{@menu.menu_name}",  minlength: 3, autofocus: true%>
      </li>
      <%= submit_tag "Update" , class: "MenuBar-button ",data: {disable_with: "updating.."}%>
      <%= link_to(menu_path(id: @menu.id),class: 'AddButton EditButton',method: :delete) do %>
        <%= content_tag('i', nil, class: 'fa fa-trash') %>Remove
      <% end %>
    <% end %>
  </ul>
</section>
