<h1 class="Admin-title">ADMIN</h1>
<div class="Dash-items">
  <%= render partial: "dash-section"%>
  <div class="ManageMenu">
    <section class="ManageMenu-section">
        <ul>
        <%= form_with(url: "/menu", method: "Post") do %>
          <li class="Details-item">
            <label class="Details-label">Menu Name :</label>
            <input class="Details-input",name="menu_name", placeholder="New menu name">
            <input  type="button" Onclick="this.form.submit()" value="Add" >
          </li>
        <% end %>
      </ul>
    </section>
      <section class="ManageMenu-section">

       <ul>
        <%= form_with(url: "/menu_items", method: "Post") do %>
          <li class="Details-item">
            <label class="Details-label">Item Name :</label>
            <input class="Details-input",name="menu_item" , placeholder="New menu item name">
          </li>
          <li class="Details-item">
            <label class="Details-label">Price :  </label>
            <input class="Details-input", name="price" , placeholder="Price">
          </li>
         <li class="Details-item">
           <label class="Details-label">Menu Type :</label>
            <select name="menu_id">
             <% Menu.all.each do |menu| %>
              <option value="<%= menu.id %>"><%= menu.menu_name %></option>
             <% end %>
            </select>
            <input  class="Details-input",type="button" Onclick="this.form.submit()" value="Add" >
         </li>
 <% end %>
    </ul>
    </section>
</div>
</div>
