

  <h1 class="MenuPageTitle">Edit Menu</h1>

  <section class="Account">
    <ul>
    <%= form_with(url: "/menu_items/#{@menu_item.id}", method: "put") do %>
    <li class="Details-item">
        <label class="Details-label">MenuItem Id :</label>
        <input name="User_name" value="<%=@menu_item.id%>" disabled>
      </li>

      <li class="Details-item">
        <label class="Details-label">Item Name :</label>
        <input name="menu_item" value="<%= @menu_item.menu_item%>" >
      </li>

      <li class="Details-item">
      <label class="Details-label">Menu Type :</label>
        <select name="menu_id">
          <option value="<%= @menu_item.menu_id %>"><%= Menu.find(@menu_item.menu_id).menu_name%></option>
          <% Menu.all.each do |menu| %>
            <% if menu.id!=@menu_item.menu_id %>
            <option value="<%= menu.id %>"><%= menu.menu_name %></option>
            <% end %>
          <% end %>
        </select>
      </li>
      <li class="Details-item">
        <label class="Details-label">Price :</label>
        <input name="price" value="<%= @menu_item.price%>">
      </li>
    <input class="MenuBar-button" type="button" Onclick="this.form.submit()" value="Update" >
 <% end %>
    </ul>
  </section>
