
<h1 class="Admin-title">Manage Orders</h1>
<div class="Dash-items">
<%= render partial: "dash-section"%>
 <div class="Invoice-section">
		<%= form_with(url: "/all_orders", method: "get") do %>
		  <p class="DashBoard-section-title">Order Id</p>
      <%= number_field_tag 'id'%>
      <input type="button", value="Search", Onclick="this.form.submit()" >
    <% end%>



	<table class="OrderCart">
		<thead>
			<tr>
				<th>Order-Id</th>
				<th>Customer Name</th>
				<th>Amount</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<% if @order%>
		<td><%= @order.id%></td>
		<td><%= User.find(@order.user_id).first_name%></td>
		<td><%= @order.amount%></td>
		<td><%= @order.order_status%></td>
		<td>
		<%= link_to(order_path(@order.id),class: 'Menu-button TrashIcon') do %>
                    <%= content_tag('i', nil, class: 'fa fa-external-link') %> Order Details
                  <% end %></td>

		<% else%>
		<tbody>
			<% if @orders %>

					<% if @orders.not_delivered.count >0 %>
			 		<tr class="break"><td colspan="4">	<p class="DashBoard-section-title">Pending Orders</p></td></tr>
					<% end %>

		 		<%= render partial: "row-section" , locals: { orders: @orders.not_delivered ,status: "Delivered",style: "OrderStatus UnDeliver_button",state: true}%>

			 		<% if @orders.delivered.count >0 %>
			 			<tr class="break"><td colspan="4">	<p class="DashBoard-section-title">Completed Orders</p></td></tr>
					<% end %>

 				<%= render partial: "row-section" , locals: { orders: @orders.delivered ,status: "Not Delivered",style: "OrderStatus",state: nil}%>
			<% end%>
		</tbody>
		<% end %>
	</table>
	</div>
</div>
