<h1 class="Admin-title">Sales Report</h1>
<div class="Dash-items">
<%= render partial: "dash-section"%>

<%= form_with(url: "/sales_report", method: "get") do %>
<p>From Date</p>
<%= date_field_tag('from_date',@from_date,class: "Date")%>
<p>To Date</p>
<%= date_field_tag 'to_date',@to_date,class: "Date"%>
<input type="button", value="Get", Onclick="this.form.submit()" >
<% end%>
<table class="OrderCart">
	<thead>
    <tr>
      <th>S No.</th>
      <th>Date</th>
      <th>Order-Id</th>
      <th>Amount</th>
      <th>Action</th>
    </tr>
	</thead>
	<tbody>
<% if @orders %>
<% if !(Order.valid_date(@from_date,@to_date))%>

<% @orders.order(:id).each_with_index do |order,i|%>
<tr>

	<td><%= i+1%></td>
  	<td><%= order.order_date%></td>
	<td><%= order.id%></td>
  	<td><%= order.amount%></td>

    	<td>ll</td>
      </tr>
      <% end %>
<% end %>
<% end %>
	</tbody>
</table>

</div>
