  <div class="Dash">
    <%= link_to(dashboard_path,class: 'Dash-button') do %>
      <%= content_tag('i', nil, class: 'fa fa-dashcube') %> DashBoard
    <% end %>
    <%= link_to(new_menu_path,class: 'Dash-button') do %>
      <%= content_tag('i', nil, class: 'fa fa-cutlery') %> Manage Menu
    <% end %>
    <%= link_to(users_path(dash: true),class: 'Dash-button') do %>
      <%= content_tag('i', nil, class: 'fa fa-users') %> Manage users
    <% end %>
    <%= link_to(all_orders_path(dash: true),class: 'Dash-button') do %>
      <%= content_tag('i', nil, class: 'fa fa-paper-plane') %> Manage Orders
    <% end %>
    <%= link_to(invoices_statement_path(from: "dash"),class: 'Dash-button') do %>
      <%= content_tag('i', nil, class: 'fa fa-line-chart') %> Invoices Report
    <% end %>
    <%= link_to(menu_items_path(from: "dash"),class: 'Dash-button') do %>
      <%= content_tag('i', nil, class: 'fa fa-pie-chart') %> Item Sales Report
    <% end %>
  </div>
