<h1 class="Admin-title">Manage Users </h1>
<div class="Dash-items">
  <%= render partial: "dash-section"%>
  <div class="Invoice-section">
		<%= form_with(url: "/users", method: "get") do %>
			<section class="Invoice-date">
				<p class="DashBoard-section-title">Email</p>
      	<%= email_field_tag 'email','',class: "Date"%>
      	<input type="button" class="AddButton" value="Search", Onclick="this.form.submit()" >
			</section>
		<% end%>
		<% if @user%>
 			<%=form_with(url: "/users/#{@user.id}?dash=true", method: "put")do%>
  			<table class="OrderCart">
					<tr>
    				<th>User Id</th>
     				<td><%= @user.id%></td>
						<th>User Name</th>
			 			<td><%= @user.first_name%></td>
       		</tr>
       		<tr>
      			<th>Email</th>
       			<td><%= @user.email%></td>
						<th>Phone Number</th>
       			<td><%= @user.phone_number%></td>
       		</tr>
					<tr>
						<th>Role</th>
       			<td>
			 				<select name="role">
								<option value="<%= @user.role%>"><%= @user.role%></option>
								<% roles=["owner","customer","clerk"]%>
								<% roles.each do |role|%>
									<% if !(role.eql?(@user.role))%>
                		<option value="<%= role%>"><%= role%></option>
									<% end %>
								<%end %>
            	</select>
						</td>
						<th>Action</th>
						<td> <%= submit_tag "Update",data: {disable_with: "updating.."}%></td>
					</tr>
					<tr class="break"><td colspan="4">	<p class="DashBoard-section-title">Orders Till Now</p></td></tr>
					<tr>
						<th>Order Id</th>
						<th>Date</th>
						<th>Status</th>
						<th>Amount</th>
						<th>Action</th>
					</tr>
					<% @orders.each do |order|%>
						<tr>
							<td> ORD-<%= order.id%></td>
							<td> <%= order.order_date%> </td>
							<td><%= order.amount%></td>
							<td><%= order.order_status%></td>
							<td><%= link_to(order_path(order.id),class: 'Menu-button TrashIcon') do %>
              	  	<%= content_tag('i', nil, class: 'fa fa-external-link') %> Order Details
                	<% end %></td>
						</tr>
					<% end %>
				</table>
    	<%end%>
		<%else%>
			<table class="OrderCart">
				<thead>
					<tr>
    				<th>SNo</th>
						<th>Name</th>
						<th>Email</th>
						<th>Phone Number</th>
						<th>Role</th>
						<th>Orders count</th>
					</tr>
				</thead>
				<tbody>
					<% @users.each_with_index do |user,i|%>
						<tr>
							<td> <%= i+1	 %> </td>
							<td> <%= user.first_name%> </td>
							<td> <%= user.email%> </td>
							<td> <%= user.phone_number%> </td>
							<td> <%=user.role %> </td>
        			<td> <%=user.orders.count %> </td>
		  			</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
	</div>
</div>
