<div class="NewUsersPage">
  <p class="NewUsers-title">Create an account</p>
  <section class="UsersNew">
    <%=form_with url: users_path do |form| %>
      <div class="Form-section">
        <p class="Form-section-label">First Name</p>
        <%= form.text_field :first_name , class: "Form-section-input" ,placeholder: "First Name",minlength: 4 , autofocus: true%>
      </div>
      <div class="Form-section">
        <p class="Form-section-label">Last Name</p>
        <%= form.text_field :last_name , class: "Form-section-input",placeholder: "Last Name"%>
      </div>
      <div class="Form-section">
        <p class="Form-section-label">Email Address</p>
        <%= form.email_field :email , class: "Form-section-input",placeholder: "Email"%>
      </div>
      <div class="Form-section">
        <p class="Form-section-label">Password</p>
        <%= form.password_field :password , class: "Form-section-input",placeholder: "Password",minlength: 3%>
      </div>

      <%= hidden_field_tag "role", "customer" %>
      <div class="Form-section">
        <%= form.submit "Sign-up!" , class: "Form-section-submit ",data: {disable_with: "Account is creating.."}%>
      </div>
   <%end%>
  </section>
</div>
