<h1 class="MenuPageTitle">My account</h1>
<section class="Account">
  <ul style="margin-bottom:20px;">
    <li class="Details-item">
      <label class="Details-label">Account Id :</label>
      <input class="Details-input" value="EATUP<%= @user.id %>" disabled>
    </li>
    <li class="Details-item">
      <label class="Details-label">User Name :</label>
      <input class="Details-input" value="<%= @user.first_name%>" disabled>
    </li>
    <li class="Details-item">
      <label class="Details-label">Contact no :</label>

       <input class="Details-input"  value="<%= @user.phone_number%>" pattern="[0-9]{10}" disabled>
    </li>
    <li class="Details-item">
      <label class="Details-label">Mail ID :</label>
      <input class="Details-input" value="<%= @user.email %>" disabled>
    </li>
  </ul>
  <%= link_to(edit_user_path(id: @user.id),class: "AddButton UpdateButton",  :onclick => 'alert("Note: Not neccessary to update the password")') do %>
    <%= content_tag('i', nil, class: 'fa fa-pencil') %> Edit
  <% end %>
</section>
