<!DOCTYPE html>
<html>
  <head>

    <link rel="icon" href='/icon.png'/>
    <title>Eat-Up Cafeteria</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>
    <main class="main-content">
      <div class="Cafeteria-header">
        <%= image_tag("https://www.freelogodesign.org/file/app/client/thumb/827d242b-f2c4-40f8-97b7-f683d5c38268_200x200.png?1590212404475",class: "Cafeteria-logo") %>
        <h1 class="Cafeteria-title ">Welcome to EAT'UP Cafeteria</h1>
      </div>
      <hr class="Cafeteria-header-line">
      <% if flash[:error] %>
        <p class="Flash-error"> <%= flash[:error]%></p>
      <% end %>
      <div class="Cafeteria">
        <%if @current_user%>
          <div class="MenuBar">
            <%= link_to(menu_index_path,class: 'MenuBar-button') do %>
              <%= content_tag('i', nil, class: 'fa fa-home') %> Home
            <% end %>
            <%= link_to(user_path(id: @current_user.id),class: 'MenuBar-button') do %>
              <%= content_tag('i', nil, class: 'fa fa-user') %> My account
            <% end %>
            <p class="User-credentials"> Hello, <%= @current_user.first_name%>!</p>
            <%= link_to(cart_items_path,class: 'MenuBar-button') do %>
              <%= content_tag('i', nil, class: 'fa fa-shopping-bag') %> View Cart
            <% end %>
            <%= link_to(order_index_path,class: 'MenuBar-button') do %>
              <%= content_tag('i', nil, class: 'fa fa-paper-plane-o') %> My Orders
            <% end %>
            <%= link_to(destroy_session_path,class: 'MenuBar-button',method: :delete) do %>
              <%= content_tag('i', nil, class: 'fa fa-sign-out') %> Sign-Out
            <% end %>
          </div>
        <%end%>
        <%= yield %>
      </div>
    </main>
    <div class="Cafeteria-footer">
      <h1>EAT'UP Cafeteria © ® Copyright 2020. All Rights are Reserved.</h1>
      <% if @current_user%>
        <%= link_to "Feedback","
          https://docs.google.com/forms/d/e/1FAIpQLScQRbsSbq_r0oZFnDwKg_db5RwTGsfqz956tjCYtaOKRLbuJw/viewform?usp=pp_url&entry.831979437=#{@current_user.id}&entry.1409699261=#{@current_user.first_name}&entry.1247884364=#{@current_user.phone_number}
        "%>
      <% end %>
    </div>
  </body>
</html>
